.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 30vmin;
  margin-bottom: 24px;
  pointer-events: none;
}

.App-header {
  flex: 1;
  background-color: #5050C3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-tagline {
  font-size: 1.5rem;
  color: white;
  margin-top: 20px;
  font-weight: 300;
}

