.App-footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  font-size: 14px;
}

.Footer-contact {
  margin-top: 10px; /* Space between copyright and contact info */
  font-size: 12px; /* Slightly smaller font for contact details */
  line-height: 1.5; /* Improved readability */
}

.App-footer a {
  color: #61dafb; /* Highlight link with React blue */
  text-decoration: none;
}

.App-footer a:hover {
  text-decoration: underline;
}
